<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="body" params="wheel_radius">

    <link name="base_link" />
    
    <link name="base_footprint" />
    
    <joint name="base_to_footprint" type="fixed">
      <origin xyz="0 0 0" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="base_footprint" />
    </joint>

    <joint name="base_to_body_joint" type="fixed">
      <origin xyz="0 0 ${wheel_radius}" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="body_link" />
    </joint>

    <link name="body_link">
    <visual name="base_visual">
      <origin xyz="0.115 -0.0875 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://sar_description/meshes/sar_body.dae"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>

      <collision>
        <geometry>
          <box size="0.240 0.178 0.060" />
        </geometry>
      </collision>

      <xacro:if value="$(arg use_sim)">
        <inertial>
          <mass value="3.5" />
          <inertia ixx="0.01393" ixy="0.0" ixz="0.0"
                                 iyy="0.01081" iyz="0.0"
                                               izz="0.02048" />
        </inertial>
      </xacro:if>
      <xacro:unless value="$(arg use_sim)">
        <inertial>
          <mass value="3.0" />
          <inertia ixx="0.019480348" ixy="0.006659356" ixz="-0.010307569"
                                iyy="0.040014748" iyz="0.004784591"
                                            izz="0.028414280" />
        </inertial>
      </xacro:unless>
    </link>

    <joint name="body_to_imu_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="imu_link" />
    </joint>

    <link name="imu_link" />

  </xacro:macro>

</robot>
