<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="realsense" params="x y z">
  
  <joint name="realsense_joint" type="fixed">
    <parent link="body_link"/>
    <child link="camera_frame"/>
    <origin xyz="${x} ${y} ${z}" rpy="0 0 1.5708"/>
  </joint>
  
  <link name="camera_frame">

    
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://sar_description/meshes/realsense.dae"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.03 0.03"/>
      </geometry>
    </collision>
    <inertial>
		<mass value="0.048" />
		<inertia ixx="0.000007287" ixy="0.000000001" ixz="-0.0"
		                          iyy="0.000030308" iyz="0.000000021"
		                                           izz="0.000033416" />
	</inertial>
  </link>

  </xacro:macro>

</robot>
