<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="rplidar" params="x y z">
    <joint name="rplidar_joint" type="fixed">
      <parent link="body_link" />
      <child link="laser_frame" />
      <origin xyz="${x} ${y} ${z}" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="laser_frame">
      <visual>
        <geometry>
          <mesh filename="package://sar_robot_description/meshes/RPLIDAR.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="-0.07 0.015 -0.036" rpy="0 0.0 ${pi}" />
        <material name="rplidar_color">
          <color rgba="0.1 0.1 0.1 1.0" />
        </material>
      </visual>

      <collision>
        <geometry>
          <cylinder radius="0.07" length="0.055" />
        </geometry>
        <origin xyz="0.0 0.0 0.085" rpy="0.0 0.0 0.0" />
      </collision>

    </link>

  </xacro:macro>

</robot>
